// Colors
$ffyellow: #ffb400
$ffmagenta: #dc0067
$ffblue: #009ee0
$main-color: $ffmagenta
$second-color: $ffyellow
$link-color: $ffblue

// Mediaquery Brakepoint for Bourbon/Neat
// new-breakpoint($query, $total-columns: $grid-columns)
$mobile: new-breakpoint(max-width 760px 4)
$tablet: new-breakpoint(max-width 980px 12)
$laptop: new-breakpoint(max-width 1280px 12)
$sceen: new-breakpoint(min-width 1280px 12)

// Footer
$footer-bg-color: $oil
$footer-text-color: $white
$footer-link-color: $ffyellow
$footer-link-color-hover: scale-color($footer-link-color, $lightness: -14%)
$footer-link: true
