<h1 id="freifunk-myk-template">Freifunk-Myk Template</h1>
<p>This Template is build on using Sass and the Sass mixin libary <a href="">Bourbon</a></p>
<h2 id="requirements">Requirements</h2>
<ul>
<li>Sass</li>
</ul>
<h2 id="quickstart">Quickstart</h2>
<p>Then when you&#39;re working on your project, just run the following command:</p>
<pre><code class="lang-bash">```

## Upgrading

If you&#39;d like to upgrade to a newer version of Foundation down the road just run:

```bash
bower update
</code></pre>
