$footer-bg-color: $oil;
$footer-text-color: $white;
$footer-link-color: $ffyellow;
$footer-link-color-hover: scale-color($footer-link-color, $lightness: -14%);

/*---------------------------------
  navigation
  ------------------------------*/
.second-nav{
  margin-top: $topbar-height;
  z-index: 89 !important;
}

#slider{
  img{
    min-width: 100%;
  }
}
.contain-breadcrumbs{
  width: 100%;
  background-color: $crumb-bg;
  border-width: 1px;
  border-style: solid;
  border-color: scale-color($crumb-bg, $lightness: $crumb-function-factor);
}
.breadcrumbs{
  margin: 0 auto;
  margin-bottom: 0;
  max-width: $row-width;
}

/*---------------------------------
  Main
  -------------------------------*/
#article, #sidebar{
  margin-top: $topbar-height;
}
.article{
  margin-bottom: $topbar-height !important;
  h3{
    margin-top: 0;
  }
  img{
    margin-top: 2px;
  }
  }
  .text-primary{
  color: $ffyellow;
  }
  .container{
  padding-top: $topbar-height;
  }
  .info-box{
  margin-top: $topbar-height !important;
  }

  .slider-image{
  position: relative;
  width: 100%;
  text-align: center;
  h2{
    position: absolute;
    bottom: 30%;
    width: 100%;

    span {
       color: white;
       letter-spacing: -1px;
       padding: 10px;
       background: rgb(0, 0, 0); /* fallback color */
       background: rgba(0, 0, 0, 0.7);
    }
  }
}

/*---------------------------------
  footer
  -------------------------------*/
.footer{
  padding: 20px 0 0 0;
  background-color: $footer-bg-color;
  color: $footer-text-color;
  a{
    color: $footer-link-color;
    &:hover{
      color: $footer-link-color-hover;
    }
  }
}

/*---------------------------------
  Sprite sheet
  -------------------------------*/
  .sprite {
      background-image: url(../img/spritesheet.png);
      background-repeat: no-repeat;
      display: block;
  }

  .sprite-participate_big {
      width: 400px;
      height: 258px;
      background-position: -5px -5px;
  }

  .sprite-participate_medium {
      width: 400px;
      height: 258px;
      background-position: -5px -273px;
  }

  .sprite-participate_small {
      width: 400px;
      height: 258px;
      background-position: -415px -5px;
  }

/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */

.resp_compparticipate-big, .resp_compparticipate-medium, .resp_compparticipate-small
{ max-width: 100%; background-size: 100%; background-image: url('../img/resp_comp_sprit.png'); }

.resp_compparticipate-big { background-position: 0 0%; background-size: 100%; }
.resp_compparticipate-medium { background-position: 0 50%; background-size: 100%; }
.resp_compparticipate-small { background-position: 0 100%; background-size: 100%; }


/*------------------------------------
  Custom Landingpage
  ----------------------------------*/
.info-cases {
  h3.subheader{
    height: 70px;
  }
}

/*------------------------------------
  Custom Router-List
  -----------------------------------*/
.panel-thumbnail{
  border-color: $panel-border-color;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
}
.thumb-body {
  height: 120px;
  max-width: 300px;
}
/*------------------------------------
 Custom Blog-List
 ------------------------------------*/
.tobheader{
  line-height: 0.2em;
}

/*------------------------------------
 Responsive Table Trick from https://css-tricks.com/responsive-data-tables/
 ------------------------------------*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  .firmware-download-list{
    width: 100%;
    table, thead, tbody, th, td, tr {
      display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      border: 1px solid #ccc;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 45%;
      &:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 35%;
        padding-right: 10px;
        white-space: nowrap;
      }
      /* Lable the Data */
      &:nth-of-type(1):before {
        content: "Version/Modell";
      }
      &:nth-of-type(2):before {
        content: "Datum";
      }
      &:nth-of-type(3):before {
        content: "MD5";
      }
      &:nth-of-type(4):before {
        content: "Download";
      }
      &:nth-of-type(5):before {
        content: "Größe";
      }
    }
  }
}

/*-------------------------------------
  Bootstrap Timeline styles
  ----------------------------------*/
.img-circle{
  border-radius: 50%;
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}
.timeline {
    list-style: none;
    padding: 0;
    position: relative;
    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: "";
        width: 2px;
        background-color: #f1f1f1;
        left: 40px;
        margin-left: -1.5px;
    }
    > li {
        margin-bottom: 50px;
        position: relative;
        min-height: 50px;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
        	clear: both;
        }
		.timeline-panel {
	        width: 100%;
            float: right;
            padding: 0 20px 0 100px;
            position: relative;
            text-align: left;
            &:before {
	            border-left-width: 0;
	            border-right-width: 15px;
	            left: -15px;
	            right: auto;
            }
            &:after {
	            border-left-width: 0;
	            border-right-width: 14px;
	            left: -14px;
	            right: auto;
            }
            img{
              vertical-align: middle;
              border: 0;
            }
        }
        .timeline-image {
	        left: 0;
	        margin-left: 0;
	        width: 80px;
	        height: 80px;
            position: absolute;
            z-index: 88;
            background-color: $ffyellow;
            color: white;
            border-radius: 100%;
            border: 7px solid #f1f1f1;
            text-align: center;
            h4 {
            	font-size: 10px;
            	margin-top: 12px;
            	line-height: 14px;
            }
        }
        &.timeline-inverted > .timeline-panel {
            float: right;
            text-align: left;
            padding: 0 20px 0 100px;
			&:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
        &:last-child {
        	margin-bottom: 0;
        }
    }
	.timeline-heading {
		h4 {
		    margin-top: 0;
		    color: inherit;
		    &.subheading {
		    	text-transform: none;
		    }
		}
	}
	.timeline-body {
		> p,
		> ul {
			margin-bottom: 0;
		}
	}
}

@media(min-width:768px) {
	.timeline {
		&:before {
			left: 50%;
		}
	    > li {
	    	margin-bottom: 100px;
	        min-height: 100px;
			.timeline-panel {
	            width: 41%;
	            float: left;
	            padding: 0 20px 20px 30px;
	            text-align: right;
	        }
	        .timeline-image {
	            width: 100px;
	            height: 100px;
	            left: 50%;
	            margin-left: -50px;
	            h4 {
	            	font-size: 13px;
	            	margin-top: 16px;
	            	line-height: 18px;
	            }
	        }
	        &.timeline-inverted > .timeline-panel {
	            float: right;
	            text-align: left;
	            padding: 0 30px 20px 20px;
	        }
	    }
	}
}

@media(min-width:992px) {
	.timeline {
	    > li {
	        min-height: 150px;
			.timeline-panel {
	            padding: 0 20px 20px;
	        }
	        .timeline-image {
	            width: 150px;
	            height: 150px;
	            margin-left: -75px;
	            h4 {
            		font-size: 18px;
	            	margin-top: 30px;
	            	line-height: 26px;
	            }
	        }
	        &.timeline-inverted > .timeline-panel {
	            padding: 0 20px 20px;
	        }
	    }
	}
}

@media(min-width:1200px) {
	.timeline {
	    > li {
	        min-height: 170px;
			.timeline-panel {
	            padding: 0 20px 20px 100px;
	        }
	        .timeline-image {
	            width: 170px;
	            height: 170px;
	            margin-left: -85px;
	            h4 {
	            	margin-top: 40px;
	            }
	        }
	        &.timeline-inverted > .timeline-panel {
	            padding: 0 100px 20px 20px;
	        }
	    }
	}
}
